mat-card {
  height: stretch;
  width: stretch;
  box-sizing: border-box;
}
.grid-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 10px;

}
.angularGrid {
    flex: 1 1 0px;
    width: 100%;
  }

  mat-spinner {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  [type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}