mat-card {
  height:100%;
  width: 50%;
  box-sizing: border-box;
}
.grid-wrapper{
  
  height: 90%;
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto; 


}
.angularGrid {
    flex: 1 1 0px;
    width: 60%;
  }

  mat-spinner {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  [type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}