// a {
//     text-decoration: none;
//     color: white;
// }

// a:hover, a:active{
//     color: lightgray;
// }

.navigation-bar-title{
    overflow: hidden;
}

.navigation-bar-spacer{
    text-align: right;
    width:75%
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;

    
}

mat-toolbar{
    border-radius: 3px;
}

a{
    color:white;
   &:hover{
        text-decoration: underline;
    }
}

